<div class="vl">

    <div class="sidebar">


        <div class="sidebar-brand">
            <h1>Imaginnovate</h1>
        </div>
        <div class="sidebar-menu">
            <dt>
                <dl>
                    <a routerLink="/dashboard/dashboard-graph">

                        <span class="pi pi-home">Dashboard</span>
                    </a>
                </dl>
                <dl>
                    <a routerLink="/dashboard/profile">
                        <span class="pi pi-envelope">Profile</span>
                    </a>
                </dl>
                <dl>

                    <a routerLink="/dashboard/users-list">
                        <span class="pi pi-user">Users</span>
                    </a>
                </dl>
                <dl>
                    <a>
                        <span class="pi pi-cog">Settings</span>
                    </a>
                </dl>
                <dl>
                    <a>
                        <span class="pi pi-sign-out">logout</span>
                    </a>
                </dl>


            </dt>
        </div>
    </div>
</div>