
.vl {
    border-right: 1px solid rgb(218, 216, 216);
   height: 990px;
   width: 241px;

}

.sidebar-brand {

    color: #0A376E;
    padding-left: 2.0rem;
    padding-top: 1px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 99px;
}

.sidebar-menu dl {

    padding: 8px 94.03px;

}

.sidebar-menu span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.sidebar-menu a {
    display: block;
    color: black;
    font-size: 1.1rem;
}

