<div class="main">
    <h1>Imaginnovate</h1>
    <h2>Login to your account</h2>
    <div class="container">
        <div class="content">
            <form [formGroup]="registerationform">
                <div class="user-details">
                    <div class="input-box">
                        <h5>Email Address</h5>
                        <input type="text" formControlName="emailAddress" placeholder="John.marshall@gmail.com" pInputText>
                        <div
                        *ngIf="registerationform.controls['emailAddress'].touched && !registerationform.controls['emailAddress'].valid ">

                        <span *ngIf="registerationform.controls['emailAddress'].hasError('required') ">
                            Email is required
                        </span>
                        <span *ngIf="registerationform.controls['emailAddress'].hasError('pattern') ">
                            Email is invalid 
                        </span>
                    </div>
                    </div>
                    
                    <div class="input-box">
                        <h5>Password</h5>
                        <input type="password" formControlName="password" placeholder="**********" pInputText>
                        <div
                        *ngIf="registerationform.controls['password'].touched && !registerationform.controls['password'].valid ">

                        <span *ngIf="registerationform.controls['password'].hasError('required') ">
                            Password is required
                        </span>
                        <span *ngIf="registerationform.controls['password'].hasError('minlength') ">
                            Password must be at least 8 characters
                        </span>
                        <span *ngIf="registerationform.controls['password'].hasError('maxlength') ">
                            Password must be max length is 15
                        </span>
                    </div>                    </div>
                    <div class="rbutton">

                        <div class="field-radiobutton">
                            <p-radioButton  class="checkbox" value="btn" formControlName="control" inputId="city"></p-radioButton>
                            <label for="btn">Remember me</label>
                        </div>
                        <div>
                        <p>Forgot password?</p>
                        </div>
                    </div>
                </div>


               
                <div class="button">
                    <p-button (click)="registeration()" (click)="addSingle()" [disabled]="!registerationform.valid" label="Login now" styleClass="button"></p-button>
                    
                    <p-toast position="top-left"></p-toast>

                </div>
                <div class="para">
                    <p>Dont have an account? Join free today</p>
                    


                    <!-- <button pButton type="button" (click)="addSingle()" label="Click"></button>
                    <p-toast position="top-left"></p-toast> -->

                </div>
                
            </form>
            <!-- {{registrationform.value | json}} -->
        </div>

    </div>